.shell {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: var(--sidebar-w);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    margin-bottom: var(--nav-h);
  }
}
